body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.landing-page{
  background: url(background.jpg);
  background-size: cover;
  color: white;
  height: 100vh;

}

.link{
  font-size: larger;
  text-decoration: none;
  color: white
}

.box{
margin-top: 0.5rem;
border: 1px solid black ;
border-radius: 20px;
padding: 0.5rem;
}

button {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.6rem;
}

.navbar{
  background-color: black;
  color: black;
  text-decoration: none;
}

.nav-text{
  background-color: rgb(220, 146, 35);
  font-size: large;
  padding: 0.8rem;
  height:100%;
  border-radius: 20px;

}

.ball{
  height: 30rem;
  width: 30rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.home-page{
    padding-top: 1rem;
    padding-left: 1rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
